/* Multiline tabs */
#browser.tabs-bottom #tabs-tabbar-container,
#browser.tabs-top #tabs-tabbar-container {
  height: auto !important;
}
#browser.tabs-bottom #tabs-container,
#browser.tabs-top #tabs-container {
  height: auto !important;
}
#browser.tabs-bottom #tabs-container .resize,
#browser.tabs-top #tabs-container .resize {
  display: block !important;
}
#browser.tabs-bottom #tabs-container .sync-and-trash-container .synced-tabs-button,
#browser.tabs-top #tabs-container .sync-and-trash-container .synced-tabs-button {
  align-self: flex-end;
}
#browser.tabs-bottom .tab-strip,
#browser.tabs-top .tab-strip {
  display: flex;
  flex-wrap: wrap;
}
#browser.tabs-bottom .tab-strip > span,
#browser.tabs-top .tab-strip > span {
  display: inline-block;
}
#browser.tabs-bottom .tab-strip > span > .tab-position,
#browser.tabs-top .tab-strip > span > .tab-position {
  left: 0px !important;
  position: relative;
  height: 30px !important;
  width: auto !important;
  transform: inherit !important;
}
#browser.tabs-bottom .tab-strip > span > .tab-position > .tab:not(.pinned),
#browser.tabs-top .tab-strip > span > .tab-position > .tab:not(.pinned) {
  width: 220px !important;
}
#browser.tabs-bottom .tab-strip > span > .tab-position > .tab.pinned,
#browser.tabs-top .tab-strip > span > .tab-position > .tab.pinned {
  width: 30px !important;
}
#browser.tabs-bottom .tab-strip > span > .tab-position .tab-header > .favicon > svg,
#browser.tabs-top .tab-strip > span > .tab-position .tab-header > .favicon > svg {
  height: 17px;
}
#browser.tabs-bottom .tab-strip .toolbar-tabbar,
#browser.tabs-top .tab-strip .toolbar-tabbar {
  margin-left: auto;
  position: relative;
}
#browser.tabs-bottom .tab-strip .toolbar-tabbar .newtab,
#browser.tabs-top .tab-strip .toolbar-tabbar .newtab {
  left: 0 !important;
  top: 0 !important;
  padding: 0;
  vertical-align: top;
}
#browser.tabs-bottom .tab-position .tab:hover.tab-small .close,
#browser.tabs-bottom .tab-position .tab.force-hover.tab-small .close,
#browser.tabs-top .tab-position .tab:hover.tab-small .close,
#browser.tabs-top .tab-position .tab.force-hover.tab-small .close {
  display: flex;
}
#browser.tabs-bottom .tab-position .tab:hover.active.tab-small .close,
#browser.tabs-bottom .tab-position .tab.force-hover.active.tab-small .close, #browser.tabs-bottom.linux.alt .tab-position .tab:hover.tab-small:not(.active) .favicon, #browser.tabs-bottom.linux.alt .tab-position .tab.force-hover.tab-small:not(.active) .favicon, #browser.tabs-bottom.mac .tab-position .tab:hover.tab-small:not(.active) .favicon, #browser.tabs-bottom.mac .tab-position .tab.force-hover.tab-small:not(.active) .favicon,
#browser.tabs-top .tab-position .tab:hover.active.tab-small .close,
#browser.tabs-top .tab-position .tab.force-hover.active.tab-small .close,
#browser.tabs-top.linux.alt .tab-position .tab:hover.tab-small:not(.active) .favicon,
#browser.tabs-top.linux.alt .tab-position .tab.force-hover.tab-small:not(.active) .favicon,
#browser.tabs-top.mac .tab-position .tab:hover.tab-small:not(.active) .favicon,
#browser.tabs-top.mac .tab-position .tab.force-hover.tab-small:not(.active) .favicon {
  display: flex;
}
#browser.tabs-bottom.win .tab-position .tab:hover.tab-small.active .title, #browser.tabs-bottom.win .tab-position .tab.force-hover.tab-small.active .title, #browser.tabs-bottom.linux:not(.alt) .tab-position .tab:hover.tab-small.active .title, #browser.tabs-bottom.linux:not(.alt) .tab-position .tab.force-hover.tab-small.active .title,
#browser.tabs-top.win .tab-position .tab:hover.tab-small.active .title,
#browser.tabs-top.win .tab-position .tab.force-hover.tab-small.active .title,
#browser.tabs-top.linux:not(.alt) .tab-position .tab:hover.tab-small.active .title,
#browser.tabs-top.linux:not(.alt) .tab-position .tab.force-hover.tab-small.active .title {
  display: flex;
}
#browser.tabs-bottom #tabs-container .tab.tab-small.tab-mini .tab-header,
#browser.tabs-bottom #tabs-container .tab.pinned.tab-mini .tab-header,
#browser.tabs-top #tabs-container .tab.tab-small.tab-mini .tab-header,
#browser.tabs-top #tabs-container .tab.pinned.tab-mini .tab-header {
  justify-content: initial;
  padding-left: 6px;
  padding-right: 0;
  border: none;
}
#browser.tabs-bottom #tabs-container .tab.tab-small.tab-mini .tab-header .title,
#browser.tabs-bottom #tabs-container .tab.pinned.tab-mini .tab-header .title,
#browser.tabs-top #tabs-container .tab.tab-small.tab-mini .tab-header .title,
#browser.tabs-top #tabs-container .tab.pinned.tab-mini .tab-header .title {
  display: flex;
}

/*# sourceMappingURL=multiline-tabs.css.map */
