/* Multiline tabs */

#tabs-container {
    height: auto !important;
}
.resize {
    display: block !important;
}
.tab-strip {
    display: block;
}
.tab-strip > span {
    display: inline-block;
}
.tab-strip > span > .tab-position {
    left: 0px !important;
    position: relative;
    height: 30px !important;
    width: auto !important;
}
.tab-strip > span > .tab-position > .tab:not(.pinned){
    width: 220px !important;
}
.tab-strip > span > .tab-position > .tab.pinned{
    width: 30px !important;
}
.tab-strip > .newtab {
    left: 0px !important;
    top: 0px !important;
    position: relative !important;
    display: inline-block;
    padding: 0;
    vertical-align: top;
}
.tab-header > .favicon > svg {
    height: 17px;
}

.toolbar-tabbar {
    float: right;
}

.button-toolbar.newtab {
    left: 0 !important;
    top: 0 !important;
}


/* fix for small/mini tabs */

.tab-position .tab:hover.tab-small .close,
.tab-position .tab.force-hover.tab-small .close
{
  display: flex;
}

.tab-position .tab:hover.active.tab-small .close,
.tab-position .tab.force-hover.active.tab-small .close,
.linux.alt .tab-position .tab:hover.tab-small:not(.active) .favicon,
.linux.alt .tab-position .tab.force-hover.tab-small:not(.active) .favicon,
.mac .tab-position .tab:hover.tab-small:not(.active) .favicon,
.mac .tab-position .tab.force-hover.tab-small:not(.active) .favicon {
  display: flex;
}

.win .tab-position .tab:hover.tab-small.active .title,
.win .tab-position .tab.force-hover.tab-small.active .title,
.linux:not(.alt) .tab-position .tab:hover.tab-small.active .title,
.linux:not(.alt) .tab-position .tab.force-hover.tab-small.active .title {
  display: flex;
}

#tabs-container .tab.tab-small.tab-mini .tab-header,
#tabs-container .tab.pinned.tab-mini .tab-header {
  justify-content: initial;
  padding-left: 6px;
  padding-right: 0;
  border: nont;
}

#tabs-container .tab.tab-small.tab-mini .tab-header .title,
#tabs-container .tab.pinned.tab-mini .tab-header .title {
  display: flex;
}
